<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<filter>
		<filter-name>GZIPFilter</filter-name>
		<filter-class>cn.majin.Web.filter.GZIPFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GZIPFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>cn.majin.Web.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>TransctionFilter</filter-name>
		<filter-class>cn.majin.Web.filter.TransctionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>TransctionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>cn.majin.Web.User.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>cn.majin.Web.User.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FormCheck</servlet-name>
		<servlet-class>cn.majin.Web.User.FormCheck</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditUserServlet</servlet-name>
		<servlet-class>cn.majin.Web.User.EditUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowUserServlet</servlet-name>
		<servlet-class>cn.majin.Web.User.ShowUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchBookServlet</servlet-name>
		<servlet-class>cn.majin.Web.Book.SearchBookServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddBookServlet</servlet-name>
		<servlet-class>cn.majin.Web.Book.AddBookServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowBookServlet</servlet-name>
		<servlet-class>cn.majin.Web.Book.ShowBookServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DelBookServlet</servlet-name>
		<servlet-class>cn.majin.Web.Book.DelBookServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateBookServlet</servlet-name>
		<servlet-class>cn.majin.Web.Book.UpdateBookServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangPasswordServlet</servlet-name>
		<servlet-class>cn.majin.Web.User.ChangPasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>cn.majin.Web.User.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManageServlet</servlet-name>
		<servlet-class>cn.majin.Web.manager.ManageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BorrowBookServlet</servlet-name>
		<servlet-class>cn.majin.Web.Book.BorrowBookServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowBorrowServlet</servlet-name>
		<servlet-class>cn.majin.Web.Book.ShowBorrowServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReturnBookServlet</servlet-name>
		<servlet-class>cn.majin.Web.Book.ReturnBookServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowStatisticsServlet</servlet-name>
		<servlet-class>cn.majin.Web.Book.statistics.ShowStatisticsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchSupportServlet</servlet-name>
		<servlet-class>cn.majin.Web.Book.SearchSupportServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FormCheck</servlet-name>
		<url-pattern>/formcheck</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditUserServlet</servlet-name>
		<url-pattern>/editUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowUserServlet</servlet-name>
		<url-pattern>/showUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchBookServlet</servlet-name>
		<url-pattern>/searchBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddBookServlet</servlet-name>
		<url-pattern>/addBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowBookServlet</servlet-name>
		<url-pattern>/showBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelBookServlet</servlet-name>
		<url-pattern>/delBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateBookServlet</servlet-name>
		<url-pattern>/updateBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangPasswordServlet</servlet-name>
		<url-pattern>/changPasswordServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/servlet/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageServlet</servlet-name>
		<url-pattern>/servlet/ManageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BorrowBookServlet</servlet-name>
		<url-pattern>/servlet/BorrowBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowBorrowServlet</servlet-name>
		<url-pattern>/servlet/ShowBorrowServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReturnBookServlet</servlet-name>
		<url-pattern>/servlet/ReturnBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowStatisticsServlet</servlet-name>
		<url-pattern>/servlet/ShowStatisticsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchSupportServlet</servlet-name>
		<url-pattern>/servlet/SearchSupportServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>loginServlet</welcome-file>
	</welcome-file-list>
</web-app>